# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# --- Django ---
db.sqlite3
media/
staticfiles/
.env

# --- Node/Frontend ---
node_modules/
.bun-build/
dist/

# --- OS/IDE ---
.DS_Store
.idea/
.vscode/*.log
